@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;

  --color-surface: #f8f9ff;
  --color-on-background: #121c2a;
  
  --color-primary-main: #006c49;
  --color-secondary-main: #0058be;
  --color-tertiary-main: #b02d29;

  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

@layer base {
  body {
    @apply bg-surface text-on-background font-sans antialiased;
  }
  
  h1, h2, h3, h4 {
    @apply font-display;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
